
@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-0.25rem); /* Déplace la flèche de 10px vers le haut */
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes verticalBounce {
	0%,
	100% {
		transform: translateY(0) rotate(-90deg);
	}
	50% {
		transform: translateY(-0.25rem) rotate(-90deg); /* Déplace la flèche de 10px vers le haut */
	}
}
