#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@font-face {
	font-family: "Pacifico";
	src: url("/fonts/Pacifico-Regular.ttf") format("truetype"); /* Chemin vers le fichier */
	font-weight: normal;
	font-style: normal;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

.typewriter {
	display: inline;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid black; /* Barre de l'effet de frappe */
	animation: typing 4s steps(40, end), blink 0.75s step-end infinite;
}
