#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@font-face {
	font-family: "Pacifico";
	src: url("/fonts/Pacifico-Regular.ttf") format("truetype"); /* Chemin vers le fichier */
	font-weight: normal;
	font-style: normal;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.typewriter {
	display: inline;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid white; /* Barre de l'effet de frappe */
	animation: typing 4s steps(40, end), blink 0.75s step-end infinite;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-0.25rem); /* Déplace la flèche de 10px vers le haut */
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes verticalBounce {
	0%,
	100% {
		transform: translateY(0) rotate(-90deg);
	}
	50% {
		transform: translateY(-0.25rem) rotate(-90deg); /* Déplace la flèche de 10px vers le haut */
	}
}
