html,
body,
#root {
	margin: 0;
	padding: 0;
	height: "100vh" ;
	width: "100vh";
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

::-webkit-scrollbar {
	z-index: 3;
	width: "10px";
} 

::-webkit-scrollbar-track {
	background: transparent; /* Couleur du fond de la scrollbar */
	border-radius: 10px; /* Arrondi du fond */
}

::-webkit-scrollbar-thumb {
	background: #e2c49c; /* Couleur du curseur de la scrollbar */
	border-radius: 10px; /* Arrondi du curseur */
}

::-webkit-scrollbar-thumb:hover {
	background: #b8a080; /* Changement de couleur au survol */
}
